@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
    --color-main: #09090b;
    --color-secondary: #0e0e11;
    --color-accent: #1d1d20;
    --color-riot-red: #d53235;
    --color-text: #ffffff;
    --color-text-accent: #a1a1a9;

    --font-inter: "Inter", sans-serif;
}

@layer base {
    body {
        @apply font-inter text-text bg-main;
    }
}
